Install all required packages

In [2]:
pip install scipy
pip install pandas
pip install arff
pip install numpy

Requirement already satisfied: scipy in c:\users\ed\appdata\local\programs\python\python39\lib\site-packages (1.7.3)
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in c:\users\ed\appdata\local\programs\python\python39\lib\site-packages (from scipy) (1.19.3+mkl)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.4; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Users\Ed\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

Load the arff file, and convert it to pandas dataframe

In [3]:
from scipy.io import arff
import pandas as pd
import numpy as np


data=arff.loadarff('bmw dealership.arff')
df=pd.DataFrame(data[0])
df.head()

,Dealership,Showroom,ComputerSearch,M5,3Series,Z4,Financing,Purchase
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0
4,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0

Shuffle the dataset

In [4]:

shuffled_df=df.reindex(np.random.permutation(df.index))
shuffled_df.head()

,Dealership,Showroom,ComputerSearch,M5,3Series,Z4,Financing,Purchase
31,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
7,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
74,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0
38,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0
4,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0

Convert the dataframe with shuffled data to arff file

In [10]:
import arff as toarff
toarff.dump('bmw randomized.arff',shuffled_df.values,relation='car-browsers',names=shuffled_df.columns)